{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
      [
          "css-modules-transform", {
          "generateScopedName": "[hash:base64:8]",
          "extensions": [".css"],
          "extractCss": "style.css"
        }
      ]
    ]
}