.calendarContainer {
  width: min-content;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: 30px;
  grid-auto-rows: 50px;
  gap: 5px;
  place-items: center;
}

.calendar div {
  user-select: none;
}

.monthLabel {
  padding-bottom: 15px;
  text-align: center;
}